<section>
	<div class="page-header col-md-12">

	</div>
	</div>
	<!--<my-map id="map_canvas" events="vm.events" class="col-lg-6 col-md-6 col-sm-6 col-xs-12 "></my-map>-->
	<div>
			<!--<li ng-class="{ active: vm.isActive('/events')}"><a ui-sref="index.events.query">Find Events</a></li>
			<li ng-class="{ active: vm.isActive('/events/add')}"><a ui-sref="index.events.add">Add event</a></li>-->
			<button class="btn btn-primary" ng-click="vm.gotoAddEvent();">Add</button>
			<button class="btn btn-primary" ng-show="vm.isMyEvent" ng-click="vm.gotoEdit();">Edit</button>
	</div>
	<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12">
		{{vm.event}}
		<h1>{{vm.event.name}}</h1>

	</div>
	<!--<div class="form-group text-center">
			<img ng-src="{{vm.imageURL}}" alt="" class="img-thumbnail" style="max-height:200px; max-width: 200px">
		</div>
		<div class="form-group">
			<label for="eventImage">Event Image</label>
			<span class="btn btn-default btn-file te">Choose an image<input type="file" nv-file-select uploader="vm.uploader"></span>
		</div>-->
	</form>
	</div>
</section>