<div>
	<div class="col-md-12" ng-show="vm.isMyEvent">
		<button class="btn btn-primary" ng-click="vm.gotoEdit();">Edit</button>
		<hr style="margin-top:5px">
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left:0; padding-right:0">
		<my-map id="map_canvas" events="vm.events" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 no-padding"></my-map>
	</div>
	<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" style="padding-left:0; padding-right:0">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			<div class="col-lg-5 col-md-5 col-sm-5 col-xs-12 "><img alt="" class="img-responsive text-center" ng-src="{{vm.event.imgUrl}}" style="height: 200px;width:200px; border-radius: 50%;
    border: 5px solid #337ab7;" />
			</div>
			<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
				<h1 class="title-lv1">Event information</h1>
				<hr>
				<h2>{{vm.event.name}}</h2>
				<label>Start Time: </label>
				<strong>{{vm.event.startTime | date : 'medium' : '+070'}}</strong> <br>
				<label>End Time: </label>
				<strong>{{vm.event.endTime | date : 'medium' : '+070'}}</strong> <br>
				<label>Address: </label>
				<strong>{{vm.event.address}}</strong> <br>
				<label>Desctiption: </label>
				<span>{{vm.event.desctiption}}</span>
			</div>
		</div>
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
			<h1 class="title-lv1">Event images </h1>
			<hr>
			<div data-ng-repeat="eventImg in vm.eventImages">
				<img alt="" class="img-responsive text-center" ng-src="{{eventImg.imgUrl}}" style="max-height: 200px;max-width:300px;
    border: 5px solid rgba(1,0,0,0.1);" />
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12" style="position: fixed;  bottom: 0; right:0">
		<chat room="vm.room"></chat>
	</div>
</div>